body{
	font-size: 16px;
}

input[type="text"], [type="email"], [type="password"], [type="number"], select{
	display: inline-block;
	width: 100%;
	margin: 0.2em;
}

div.third{
	width: 33.3%;
	float: left;
}

table, th, td {
    border: 1px solid black;
    margin: 1em;
}

button{
	width: 10em;
	padding: 0.2em;
	background-color: white;
	color: grey;
	border: 0.1em solid grey;
	padding: 0.5em;
	transition: 0.5s ease-in-out;
}

button:hover{
	cursor: pointer;
	background-color: grey;
	color: white;
}